@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.game-info {
    text-align: center;
    font-family: 'Roboto';
}

.game-tiles {
    justify-content: center;
    display: grid;
    grid: repeat(3, 4em) / auto-flow 5em;
    gap: 0.5vw;
}

.tile {
    display: grid;
    background-color: bisque;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    line-height: 2em;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
}

.tile:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

#restart-button {
    font-family: 'Roboto';
}